@charset "UTF-8";


body {
    background-color: rgb(203, 255, 203);

}
h1 {
    color: rgb(4, 109, 0) ;
} 
h1#principal {
    text-align: center;
}
h2 {
    color: rgb(73, 100, 71);
}
.basico {
    color: blueviolet;
    
}
.intermediario {
    color: brown;
}
.avancado {
    color: blue;
}
